.editUser{
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    
}

.Edit{
    border: 1px saddlebrown solid;
    border-radius: 10px;
    padding: 20px;
}

#smallErr{
    color: red;
}
.radioCheck{
    text-align: start;
    margin: 10px;
    background-color: rgba(211, 211, 211, 0.622);
    border-radius: 10px;
    padding: 10px;
}